@charset "utf-8";
/* CSS Document */

/*fullscroll*/
body{ overflow: hidden;}
#web_box{ width:100%; height:100%; overflow:hidden; position:absolute; }
ul.web{ position:absolute; left:0; top:0; width:100%; height:100%;  }
ul.web>li{ height:100%; min-width:1366px; overflow:hidden; font-size:50px; text-align:center; color:#fff; }
.web #works{ background:#333;}
.web #art{ background:#3cf; }
/*nav*/
.page_btn{ width:290px; height:40px; position:absolute; right:100px; top:40px; z-index:20; text-align:center; line-height:40px; }
.page_btn a{ width:60px; height:40px; float:left; margin-left:10px; font-size:20px;  color:#fff; position:relative; transition:0.3s all ease; }
.page_btn a:hover{transform:rotate(360deg); border-radius:50%; background:#fff; font-size:24px; color:#f60; }
.f40{ background: #06406C; border-radius: 5px; }

/*snow*/
@-webkit-keyframes STAR-MOVE {
	from {
		background-position:0% 0%
	}
	to { 
		background-position: 0% 600% 
	}
}
 @keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 0% 600% 
	}
}
.wall{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
}
#background{
	background:black url(../images/bg/stars/background.png) repeat-x 5% 0%;
	/*background-size: cover;*/
	-webkit-animation: STAR-MOVE  10s linear infinite;
	-moz-animation: STAR-MOVE  10s linear infinite;
	-ms-animation: STAR-MOVE  10s linear infinite;
	animation: STAR-MOVE  10s linear infinite;
}
#midground{
	background:url(../images/bg/stars/midground.png) repeat 20% 0%;
	
	-webkit-animation: STAR-MOVE  8s linear infinite;
	-moz-animation: STAR-MOVE  8s linear infinite;
	-ms-animation: STAR-MOVE  8s linear infinite;
	animation: STAR-MOVE  8s linear infinite;
}
#foreground{
	background:url(../images/bg/stars/foreground.png) repeat 35% 0%;
	
	-webkit-animation: STAR-MOVE  6s linear infinite;
	-moz-animation: STAR-MOVE  6s linear infinite;
	-ms-animation: STAR-MOVE  6s linear infinite;
	animation: STAR-MOVE  6s linear infinite;
}


/*welcome*/
.wel{ font-size:30px; color:#fff; cursor: pointer; transition:0.5s all ease; width:420px; text-align:center; margin:30px auto; position: relative; z-index:10; }
.wel:hover{ transform:translate(0,10px); transform:scale(1.2,1.2); box-shadow: 0 0px 10px #23F2F8; border-radius: 10px; }
.wel span{ opacity:0; }


/*down*/
.sk-double-bounce {
  width: 80px;
  height: 80px;
  position: fixed;
  right:80px;
  bottom:60px;
  text-align:center;
  line-height:80px;
  font-size:16px;
  color:#fff;
  }
  .sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #339;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
            animation: sk-doubleBounce 2s infinite ease-in-out; }
  .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*作品*/
.present{ width:900px; height:500px; margin:0px auto; z-index:100; }
.present .pre_box{ width:900px;  height:500px; margin:80px auto; }
.present .pre_box li{ float:left; margin:10px; width:190px; height:100px; text-align:center; background:#fff; padding-top:50px;  border-radius:20px; border:5px solid #644C99; opacity:0; position:relative; overflow:hidden;  }
.present .pre_box li div{ position:absolute; left:0; top:160px; width:200px; height:160px; font-size:20px; font-weight:bold; text-align:center; border-radius:10px; overflow:hidden; }
.present .pre_box li div .pre_bg{ width:100%; height:100%; background:#000; opacity:0.6; display:block; }
.present .pre_box li div span{ position:absolute; left:0; top:0; font-size:26px; text-align:center; line-height:160px; color:#fff; width:100%;  }
.present .pre_box li img{ width:100px; height:50px; display:inline-block; }
.present .pre_box li .mi{ height:80px; width:80px; margin-top:-10px; }

/*框架*/
.close_down_box{ width:100%; height:100%; position:absolute; display:none; left:0; top:0; z-index:20; }
.close_down_box_bg{ width:100%; height:100%; background:#000; opacity:0.8; filter:alpha(opacity:80); position:absolute; left:0; top:0; }
.close_down{ width:0; position:absolute; margin:50px auto; padding:20px; background:#eee; overflow:hidden; border-radius:5px; }
.close_down span{ position:absolute; right:-2px; top:-2px; width:30px; height:30px; font-size:30px; font-weight:bold; text-align:center; line-height:26px; cursor:pointer; color:#333; }

/*选项卡*/
.exhibition{ margin:0 auto; border-bottom:3px solid #fff; width:300px; height:100px; text-align:center; line-height:100px;}
.exhibition h2{  font-size:30px; cursor: pointer; transition:0.5s all ease;}
.exhibition h2:hover{ transform:trnslate(0,-10px); transform:scale(1.3,1.3); }
.tab1 h5{ font-size: 24px; font-weight: normal; }
.tab1{ position:relative; width:1000px; height:450px; margin:20px auto; overflow:hidden; border-radius:10px; background:#9177D3; }
.tab_btn{ width:160px; height:30px; position:absolute; right:40px; top:20px; }
.tab_btn span{ width:20px; height:20px; background:#fff; border-radius:50%; float:left; margin:5px 10px; cursor:pointer; }
.tab_btn span.active{ background:#f60;}
.tab1 .cut span{
	position:absolute; 
	top:50%; 
	width:0; 
    height:0;
	border-style:solid;
	margin-top:-60px;
	cursor:pointer;
	transition:0.3s all ease;
	}
.tab1 .prev{ 
 	left:25px;
    border-width:60px 50px 60px 0;
	border-color:transparent #fff transparent transparent;
	}
	
.tab1 .next{ 
 	right:25px;
    border-width:60px 0 60px 50px;
	border-color:transparent transparent transparent #fff;
	}
.tab1 .prev:hover{ border-color:transparent #f40 transparent transparent; }
.tab1 .next:hover{ border-color:transparent transparent transparent #f40; }
ul.tab_box{ position:absolute; left:0; top:0; width:100%; height:100%; b }
ul.tab_box>li{ width:1000px; height:500px; font-size:25px; color:#fff; text-align:center; float:left; position:relative; }	


/*日历*/
.cal_wrap{ text-align:center; width:350px; margin:50px auto; }
.cal_wrap h5{ height: 30px; margin-bottom: 10px; }
.calendar { width:350px; position:relative; border-radius:10px; overflow:hidden; background:#5CAEFF; color:#fff;  }
.calendar span { display:block; width:100%; height:40px; line-height:40px; text-align:center; font-size:28px; font-weight:bold; border:none; }
.calendar ul{ background:#03A393; padding-bottom:5px; }
.calendar li { list-style:none; float:left; width:50px; height:40px; line-height:50px; font-size:25px; text-align:center; }
.week { color:red; }
.calendar .today { color:yellow; font-size:16px; }
.past { color:#999; }
.calendar a { position:absolute; width:30px; height:30px; font-size:20px; background:yellow; line-height:30px; text-align:center; text-decoration:none; top:5px; }
.calendar a img{ width:30px; height:30px; }
.calendar .prev1 { left:10px; }
.calendar .next1 { right:10px; }


/*sfq*/
#sfq{ width:0; height:0; margin:20px auto; border:2px solid #fff; overflow:hidden; position:relative; }
h5.sfq_tit{ margin-top: 40px;}
#sfq li{ list-style:none; width:512px; position:absolute; left:0; top:0; padding-left:20px; }
#sfq span{ position:absolute; left:0; top:0; height:100%; width:20px; border:none; margin-top:0;  font-size:16px; line-height:320px; cursor:pointer; }


/*时钟*/
#tab_box_1{ opacity:0; }
.clock h5.time1{ height: 30px; margin-bottom: 20px; }
.clock {width:300px; color:#fff; text-align:center; margin:60px 100px 0 130px;  }
.clock #sample{ border:2px solid #fff; background:#9F3; border-radius:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }	
}

/*ball*/
.tar{ width:300px; height:250px; background:#630; cursor: pointer; position:relative; margin:100px 0; border-radius:5px; }
.tar div{ border-radius:50%; position:absolute;  }
.tar h4{ color:#0CF; position: absolute; left:65px; top: -40px; font-size: 24px; font-weight: normal; color: #fff; }
.tar p{ color:#fff; text-align:center; font-size:16px; line-height:30px; }

/*coll*/
.coll{ width:700px; height:320px; opacity:0.9; background:#fff; background:url(../images/tip/gold/sc.jpg) no-repeat; position: relative; border:1px solid #fff; margin:10px auto; border-radius: 10px; }
.coll .ad{ width:80px; height:80px; position: absolute; left: 0; top: 0; }
h5.gold{ margin-top:50px; }

/*self*/
.introduce_tab{ width:700px; margin:150px auto; }
.slant{ width:90px; height:2px; transform:rotate(-30deg); background:#fff; margin:10px; }
.val{ margin-left:10px;}

.profession{ position:relative; width:300px; height:300px; margin:130px auto; text-align:center; }
.profession .p1{cursor: pointer;  width:150px; height:160px; display:inline-block; margin-top:70px; }
.profession .p1 img{ width:150px; height:160px; border-radius:50%; }
.profession div.skill { position:absolute; top:0; left:50%; margin-left:-40px; margin-top:-40px; width:80px; height:80px; color:#fff; border-radius:50%; }
.profession div.skill ol.int_box{font-size:18px; transition:0.5s all ease; box-shadow: 0px 5px 10px #fff; width:450px; background:#333; border-radius:10px; position:absolute; left:50%; top:-85px; margin-left:-225px; }
.profession div.skill ol.int_box:hover{  transform:translate(0,-10px);}
.profession div.skill ol.int_box li{ margin-left:30px; float:left; width:100px; height:80px; }
.profession div.skill img{ width:80px; height:80px; border-radius:50%; }
.profession div.skill ul.int_box_s{ transition:0.5s all ease; font-size:16px; width:0; height:60px; overflow:hidden; background:#333; position:absolute; top:-60px; margin-left:-325px; text-align:left; cursor:pointer; padding:10px; border-radius:10px; }
.profession div.skill ul.int_box_s span{  color:#f40; margin-right:5px; font-size:16px; }
.profession div.skill ul.int_box_s:hover{ box-shadow: 0px 5px 10px #fff; transform:translate(0,-10px);}

.profession div.skill ul.pos1{ left:420px; top:-18px; }
.profession div.skill ul.pos2{ left:210px; top:90px; }
.profession div.skill ul.pos3{ left:10px; top:-15px; line-height:30px; }

/*bigsmall*/

.sk-double-bounce-w {
  width: 80px;
  height: 80px;
  position: absolute;
  left:0;
  top:0;
  text-align:center;
  line-height:80px;
  font-size:16px;
  color:#fff;
  }
  .sk-double-bounce-w .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #339;
    position: absolute;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
            animation: sk-doubleBounce 2s infinite ease-in-out; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
			
/*maxim*/
.foot{ position:relative; width:1000px; height:500px; margin:80px auto; background:#069; border-radius:20px; }
.foot p{ font-size:23px; cursor: pointer; text-align:center; padding: 5px 0; transition:0.3s all ease; width: 300px; margin:0 auto; }
.foot p:hover{ transform:scale(1.3,1.3); background:#069; }
.maxim{ width:800px; height:80px; margin:0 auto; font-size:25px;  text-align:center; line-height:80px; }
.maxim span{ opacity:0; text-shadow:5px 5px 20px #F06; }
.foot .resume{ font-size:20px; color:#9F3; }
.foot .ds{ width:260px; margin:20px auto; }
.foot #res{ position:relative; width:80px; transition:0.5s all ease; height:80px; border-radius:50%; background:#fff; }
.foot #res:hover{ transform:scale(1.2,1.2); box-shadow: 0 0 10px #fff; }
.foot .download{ transition:0.5s all ease; width:80px; height:80px; font-size:30px; text-align:center; line-height:80px; border-radius:50%; margin-left:100px; color:#fff; background:#F30; }			
.foot .download:hover{ transform:scale(1.2, 1.2); box-shadow:0 0 10px #fff;}
.foot #res a.resume_btn{ font-size:40px; color:red; }
#res_ball{ position:absolute; top:0; left:50%; margin-left:-10px; margin-top:-10px; width:20px; height:20px; background:#6F3; border-radius:50%; }